<nav>
    <ul>
        <li><a href="{{site.baseurl}}/index.html">Home</a> </li>
        <li><a href="{{site.baseurl}}/about.html">About me</a> </li>
    </ul>
</nav>

<h1>{{ site.title }}<span>A Clean, Fresh Minimal Look 3 Jin.</span></h1>
<nav class="links">
    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
    <a href="#"><i class="fa fa-tumblr-square fa-3x"></i></a>
</nav>